@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto")
@import "_vars.sass"

body
  font-family: $font-stack-Montserrat

p.sub_title
  font-size: 20px
h1
  font-size: 50px
  text-transform: uppercase
